@import url('https://fonts.googlapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

/* sec-1 */

body{
   background-color: #f0f5ff;
   margin-top: 0px;
   margin-right: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   border-bottom: 2px solid #e2e6ef;
}
#navbar{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: #474748;
   background-color: white;
   height: 13vh;
   font-family: 'Poppins', sans-serif;
   
}

#search{
   border: none;
   padding: 0px;
   background-color: transparent;
   height: 40px;
   width: 450px;
}


#searchicon{
   display: flex;
   background-color: transparent;
   height: 24px;
   width: 24px;
   cursor: pointer;
   align-items: center;
  
}

#searchbar{
   display: flex;
   background-color: #f0f5ff;
   border-radius: 8px;
   height: 40px;
   width: 290px;
   align-items: center;

}

#login{
   display: flex;
   height: 41px;
   width: 95px;
   align-items: center;
   cursor: pointer;
   transition: 0.3s;
}


#login:hover {
   color: white;
   background: #2a55e5;
   border-color: #2a55e5;
   border-radius: 8px;
}

#an{
   margin-right: 8px;
   font-size: 0.8rem;
}

#an,#login{
      transform: rotate(0deg);
      transition: transform .3s ease-in-out; 
}

#an:hover{
   transform: rotate(180deg);
}

 
#menu{
   display: flex;
   align-items: center;
   border: 1px solid transparent;
   box-sizing: border-box;
   height: 35px;
   width: 35px;
   padding-left: 15px;
}

#menu:hover{
   background: #fafafa;
   border-radius: 8px;
   border-color: #e0e0e0;
}

/* sec-2 */

#img,#cart,#seller,#menu{
   cursor: pointer;
}

#items{
   display: flex;
   justify-content: space-evenly;
   background-color: white;
   margin-top: 8px;
   margin-bottom: 8px;
   width: 96.7vw;
   height: 30vh;
   font-size: 14px;
   margin-left: 12px;
   margin-right: 12px;
}

.products{
   /* height: 130px;
   width: 141px;
    */
    height: 90px;
    width: 62px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.productsIcons{
   display: flex;
   background-color: transparent;
   height: 64px;
   width: 64px;
   cursor: pointer;
   align-items: center;
   background-color: transparent;
}

.arw{
   display: flex;
   margin-top: 8px;
}

#arwicon{
   margin-left: 8px;
   display: flex;
   align-items: center;
   transition: 0.3s;
   cursor: pointer;
   font-size: 0.8rem;
}

.arw:hover{
   color: rgb(2, 106, 224);
}

#arwicon:hover{
   transform: rotate(180deg);
}

#ads{
   height: 240px;
   display: flex;
   align-items: center;
   margin-top: 8px;
   box-sizing: border-box;

}

#adspic1{
   height: 220px;
   width: 100%;
   margin-top: 8px;
   margin-bottom: 8px;
   background-color: transparent;
}

#bestEle{
   display: flex;
   width: 78.5vw;
   height: 310px;
   background-color: white;
   gap: 17px;
   margin-bottom: 8px;
   margin-left: 10px;
}

.bsttxt{
   display: flex;
   justify-content: space-between;
   /* width: 990px;
   height: 32px; */
   margin-left: 10px;
   margin-right: 10px;
   padding: 16px;
   box-sizing: border-box;
   font-size: 20px;
}

#itembst{
   display: flex;
   justify-content: space-between;   
}

.bst{
   display: grid;
   width: 156px;
   height: 230px;
   background-color: transparent;
   border: 0.4px solid #e0e0e0;
   margin-right: 8px;
   border-radius: 4px;
   font-size: 14px;
}

.imgsize{
   margin: auto;
   width: 97px;
   height: 170px;
   margin-top: 4px;
  margin-bottom: 7px;
}


.iconR{
   color: white;
   background-color: #2a55e5;
   border-radius: 50px;
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
}

.iconR i{
    font-size: 0.8rem;
    margin: 8px;
}

#ads2{
   box-sizing: border-box;
   width: 191px;
   height: 310px;
   background-color: white;
}

#ads2 img{
   margin-top: 18px;
}

#beautyFTM{
   width: 97.7%;
   height: 310px;
   background-color: white;
   margin-bottom: 8px;
   margin-left: 10px;
}

.monEsee{
   display: flex;
   gap: 20px;
}

.monEsseProduct{
   width: 350px;
   height: 117.8vh;
   background-color: white;
   margin-right: 10px;
   margin-left: 8px;
   margin-bottom: 8px;
}

.monPro{
   display: flex;
   flex-direction: column;
   width: 156px;
   height: 230px;
   background-color: transparent;
   border: 0.4px solid #e0e0e0;
   border-radius: 4px;
   font-size: 14px;
}

#monEsse{
   margin-left: 8px;
   margin-right: 8px;
   margin-bottom: 8px;
   margin-top: 8px;
}

/* #secSize{
   background-color: white;
   width: 305px;
   height: 115.8vh;
}

#sec{
   display: flex;
   gap: 10px;
   margin-bottom: 10px;
}

.secBorder{
   display: flex;
   flex-direction: column;
   width: 146px;
   height: 220px;
   border: 0.4px solid #e0e0e0;
   border-radius: 4px;
   font-size: 13px;

} */

.info{
   padding: 30px;
  color: #878787;
  background-color: #f5f5f5;
}

#info1{
   color: #666;
   background-color: #f5f5f5;
   margin: 0 auto;
   text-align: left;
   padding: 25px;
   line-height: 1.5;
   font-size: 12px;
}

#tops{
   color: #565656;
   font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
   margin-top: 14px;
   padding: 14px 0;
   font-size: 16px;
}

#tops a{
   text-decoration: none;
   color: #565656;
}

#tops h1{
   font-size: 16px;
   margin-bottom: 10px;
}

.mostSearch{
   margin: 4px 0;
}

.mostSearch span{
   color: #565656;
   text-transform: uppercase;
   margin-right: 4px;
   font-size: 14px;
}

.mostSearch a{
   cursor: pointer;
   text-decoration: none;
   color: #565656;
   border-right: 1px solid #333;
   padding: 0 5px;
   font-size: 12px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 40px 60px 0;
  column-gap: 20px;
  background-color: #171717;
}

.footerstyle{
   color: #878787;
   font-size: 12px;
   margin-bottom: 12px;
}

.footerstyle a{
   font-family: Arial,sans-serif;
   font-size: 12px;
   color: #fff;
   display: block;
}

.footerstyle p{
   color: #fff;
   font-size: 12px;
   margin: 0px;
}

.marginTop{
   margin-top: 10px;
}

a{
   text-decoration: none;
}

.mail{
   border-left: 1px solid #454d5e;
   padding-left: 32px;
   color: #878787;
   font-size: 12px;
   margin-bottom: 12px;
}

.mail p{
   color: #fff;
   font-size: 12px;
   margin: 0px;
}

#social{
   margin-top: 10px;
}

#social a{
   margin-right: 16px;
   margin-top: 10px;
}

 .endfooter{
   border-top: 1px solid #454d5e;
   padding: 25px 0;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #171717;
}

.efoot{
   display: flex;
   align-items: center;
}

.efoot a{
   margin-left: 8px;
   font-size: 12px;
   line-height: 18px;
   color: white;
}